@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'DynaPuff', cursive;
font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;

}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent , #30ff00);
  border-radius: 6px;
}
 

*{
  font-family: 'Roboto', sans-serif;
}
.under{
  
    text-decoration: black wavy underline;
    text-decoration-skip-ink: none;
    height: 1.5em;

}
.spanblac{
  display: block;
  overflow:inherit
}




.project { padding-block: var(--section-padding); }

.project-list > li { margin-bottom: 25px; }

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-12);
  box-shadow: 2px 4px 6px hsla(0, 0%, 0%, 0.2);
}

.project-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: var(--transition-1);
}

.project-card:is(:hover, :focus)::after {
  background: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(0.5px);
}

.project-card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.project-card .card-title { margin-bottom: 10px; }

.project-card :is(.card-title, .publish-date) {
  background: var(--bg-primary);
  padding: 6px 12px;
  width: max-content;
  box-shadow: var(--shadow-1);
  transform: translateY(20px);
  opacity: 0;
  transition: var(--transition-1);
}

.project-card .publish-date {
  font-size: var(--fs-6);
  color: var(--color-primary);
  transition-delay: 0s;
}

.project-card:is(:hover, :focus) :is(.card-title, .publish-date) {
  transform: translateY(0);
  opacity: 1;
}

.project-card:is(:hover, :focus) .publish-date { transition-delay: 0.1s; }

.load-more {
  font-size: var(--fs-4);
  color: var(--raw-seinna);
  text-decoration: underline;
  margin-inline: auto;
}



